<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Working days</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

      </head> 
<body>
    <div class="container pt-5">
        <div class="pb-3">
            <h1 class="display-5">Working Days in England & Wales</h1>
        </div>
        <div class="alert alert-primary" role="alert">
            This app was created by <a href="http://www.stevendiffey.co.uk">Steven Diffey</a> to get a list of working days to include in invoices. The raw data is available at <a href="https://www.api.gov.uk/gds/bank-holidays/#bank-holidays">The Bank Holidays API</a>.
        </div>
        <div class="jumbotron">
    {% if not month_year %}
            <form action="" method="get">
                <input type="month" name="month" value="{{ date_picker_spec["current_month"] }}" max="{{ date_picker_spec["maximum_date"] }}" min="{{ date_picker_spec["minimum_date"] }}" onchange="this.form.submit()">
                
            </form>
            
    {% else %}
    
            <form action="" method="get">
                <input type="month" name="month" value="{{month_year}}" max="{{ date_picker_spec["maximum_date"] }}" min="{{ date_picker_spec["minimum_date"] }}" onchange="this.form.submit()">
                
            </form>
            
            <h4 class="display-4">{{numberOfWorkingDays}} working days in {{month_name}} {{year}}</h4>
            
            
            {% if public_holiday_list == [] %}
                No public holidays
            {% else %}
            <p class="lead">Public holidays:    
                {% for x in public_holiday_list %}
                    {{x}},
                {%endfor%}
            {% endif %}
            </p>

        </div>
        
        
        <h4>Working days:</h4>
            <ul>
                {% for d in day %}
                    <li>{{d}}</li>
                {%endfor%}
                {% endif %}

            </ul>
        </div>
        

    </div>

</body>
</html>